.container {
    display:grid;
    grid-template:
        "header header"
        "main sidebar"
        "footer footer"
        /1fr 15em;
    grid-template-rows: 10em 1fr;
}

header {
    grid-area: header;
    background-color: white;
}

main {
    grid-area: main;
    background-color: blue;
    padding: 3em;
}

sidebar {
    grid-area: sidebar;
    background-color: red;
    padding: 2em;
}

footer {
    grid-area: footer;
    background-color: orange;
    padding-left: 2em;
    padding-right: 2em;
    text-align: right;
}