@font-face {
  font-family: "Snow";
  src: url(https://file.garden/aTQD7UdeYkPxCZbb/webdev/fonts/Snow%20White.ttf) format("truetype");
}

@font-face {
  font-family: "typew";
  src: url(https://file.garden/aTQD7UdeYkPxCZbb/webdev/fonts/TYPEW___.TTF) format("truetype");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: url(/images/darknight.gif);
    background-repeat: repeat;
    background-color: #28245d;
}

/* CONTAINERS */
.container {
    display: flex;
    width: 70%;
    height: 50em;
    flex-direction: column;
    background-image: linear-gradient(to right,
            rgb(39, 4, 78),
            rgb(39, 4, 78),
            rgb(29, 2, 61),
            rgb(16, 1, 58),
            rgb(9, 9, 48),
            rgba(9, 9, 48, 0.5),
            rgba(0, 0, 0, 0));
    padding: 10em;
}

header {
    height: 10em;
}

main {
    flex: 1;
}

nav {
    height: 2em;
}

.navcontainer {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    width: 70%;
}

.navbutton {
    flex: 1;
    color: white;
    font-family: "typew";
    font-size: 1em;
    transition: color 0.1s;
}

.navbutton:hover {
    color: yellow;
}



/* FONTS */
p {
    font-family: "typew";
    font-size: 1em;
    color: white;
}

h1 {
    font-family: "Snow";
    font-size: 4em;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}
