@font-face {
    font-family: "Midstar";
    src: url("/fonts/Midstar_Personal_Use.otf") format ("opentype");
}

body {
    background-image: url(/images/darknight.gif);
    background-repeat: repeat;
    background-color: #28245d;
}

main {
    width: 80em;
    height: 40em;
    border-radius: 15px;
    background-image: url(https://bettysgraphics.neocities.org/images/backgrounds/flowers%2017.gif);
    background-repeat: repeat;
    margin: 3em auto;
    border: 4px ridge #d4a44b;
}

header {
    margin: auto;
    text-align: center;
}

/* FONTS */
p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
}

h1 {
    font-family: "Midstar";
    font-size: 4em;
    color: white;
}