@font-face {
  font-family: "EcuyerR";
 src: url("/fonts/EcuyerR.TTF") format("truetype");
}

@font-face {
  font-family: "Blisstwin";
 src: url("/fonts/Blisstwin.ttf") format("truetype");
}

@font-face {
  font-family: "Mungo";
 src: url("/fonts/Mungo.ttf") format("truetype");
}

@font-face {
  font-family: "Porto-Qastelo";
 src: url("/fonts/Porto-Qastelo.ttf") format("truetype");
}

body {
  background-color: #28245d;
  background-image: url(/images/darknight.gif);
}

p {
  font-family: "Blisstwin";
  color: white;
  font-size: 1.3em;
  display: inline;
}

h1 {
  font-family: "Porto-Qastelo";
  color: white;
  font-size: 5em;
}

h2 {
  font-family: "Mungo";
  color: black;
  font-size: 3em;
}

h3 {
  font-family: "Blisstwin";
  color: #f3f3cd;
  font-size: 2em;
  display: inline;
}

a:link {
   color: white;
  	text-decoration: none;
}

/* following layout code HEAVILY used sadgrlonline's layout builder */
#container {
  width: 50em;
  margin: 0 auto;
  
}

#container a {
  color: #eee190;
  text-decoration:none;
}

#textcontainer {
  width: 100%;
  padding: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  justify-content: center;
}

#header {
  width: 100%;
  height: 113px;
  margin-top: -4em;
}

.imgcontainer {
  width: 100%;
  overflow: hidden;
}

sidebar {
  width: 20em;
  height: 100;
  background-image: url(https://sadhost.neocities.org/images/tiles/stars2.gif);
}

#navbar {
  height: 50px;
  background-color: #4e4ea5;
  width:100%;
  font-family: "Blisstwin";
  color: white;
  font-size: 1.3em; 
  border-radius: 10px;
}

#navbar ul {
  display:flex;
  padding:0;
  margin:0;
  list-style-type:none;
  justify-content: space-evenly;
}

#navbar li {
  padding-top: 0.6em;
}

#navbar li a {
  color: white;
  font-weight: 800;
  text-decoration: none;
}

#navbar li a:hover {
  color: #f3f3cd;
  /*text-shadow:-1px -1px 0 #3e3482, 1px -1px 0 #3e3482, -1px 1px 0 #3e3482, 1px 1px 0 #3e3482;*/
}

#flex {
  display:flex;
}

#main {
  width:90%;
  background-color: #3e3891;
  padding-top:1%;
  padding-bottom:1%;
  padding-left: 5%;
  padding-right: 5%;
  /*border-radius:10px;*/
}

#headerimg {
  margin: 1em;
  width: 70%;
}

.float {
font-size:2em;
color: #000;
animation-name: floating;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating {
0% { transform: translate(0, 0px); }
50% { transform: translate(0, 15px); }
100% { transform: translate(0, -0px); }
}
  
  
@media only screen and (max-width: 800px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }































